
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <div class="jumbotron">
       <div class="row">
         <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
           <div class="card card-signin my-5">
             <div class="card-body">
               <h5 class="card-title text-center">Log In</h5>
               <form class="form-signin" #userForm="ngForm" (ngSubmit)='onSubmit(userForm.value)'>
              
                  <small class="text-danger">{{msg}}</small>
                  <div class="form-label-group">
                    <label for="inputId"><b>User Id</b></label>
                   <input type="number" id="inputId" class="form-control" #empIdRef='ngModel' name="userId" ngModel placeholder="User Id" required autofocus>  
                   <div *ngIf='empIdRef.errors && empIdRef.touched' class="alert alert-danger">
                    <div [hidden]='!empIdRef.errors.required'> Provide Id </div>
                     </div>
                  </div>
                 
   
                 <div class="form-label-group">
                    <label for="inputPassword"><b>Password</b></label>
                   <input type="password" id="inputPassword" minlength="6" class="form-control" #userpasswordRef='ngModel' name="userPassword" ngModel placeholder="Password" required>
                   <div *ngIf='userpasswordRef.errors &&userpasswordRef.touched' class="alert alert-danger">
                    <div [hidden]='!userpasswordRef.errors.required'> Provide Password </div>
                    <div *ngIf='userpasswordRef.errors.pattern'>Password should consists of minimun 6 digits</div>
                </div>
                 </div><br>
                 <input [disabled]="userForm.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Login">
                 <hr class="my-4">
                 </form>
             </div>
           </div>
         </div>
       </div>
     </div></div>
   </body>
