<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">
    <table class="table table-striped" *ngIf="users && users.length > 0  else elseBlock">
        <thead>
        <tr>
            <th>USER ID</th>
            <th>USER NAME</th>
            <th> USER PHONE NUMBER</th>
            <th>USER PASSWORD</th>
            <th>USER EMAIL</th>
            <th>DELETE USER</th>
            <th>EDIT USER</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of users">
                <td> {{e.userId}} </td>
                <td> {{e.userName}} </td>
                <td>{{e.userPhoneno}}</td>
                <td> {{e.userPassword}} </td>
                <td> {{e.userEmail}} </td>
                <td>
                    <button type="button" class="btn btn-large btn-block btn-primary" (click)=delete(e)>Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-large btn-block btn-primary" (click)=update(e)>Edit</button>
                </td>
                <td>
            </tr>
        </tbody>
    </table>
    <ng-template #elseBlock>
        <h4 align="center"> There are no employees to display,please add the employees! </h4>
    </ng-template>

</div>
<div>
    <h2>{{message}}</h2>
</div>